
    <header>
        <section class="top-header">
            <div class="social-icons">
                <a href="#" title="facebook">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="#" title="twitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
                <a href="#" title="instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" title="youtube">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </a>

            </div>
            
            <div class="contact-us">
                <span>09195851994</span>
                <i class="fa fa-phone" aria-hidden="true"></i>

            </div>
        </section>

        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">

                <ul class="menu-items">
                    <li><a href="#">تماس با ما</a></li>
                    <li><a href="#">درباره ما</a></li>
                    <li><a href="#">دوره ها</a></li>
                    <li><a href="#">صفحه اصلی</a></li>
                </ul>
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div>
                    <% if (req.isAuthenticated()) { %>
                        <button><a href="/dashboard">حساب کاربری</a></button>
                        <button> <a href="/users/logout">خروج</a></button>
                       
                    <% }else{ %>
                        <button><a href="/users/register">ثبت نام</a></button>
                        <button> <a href="/users/login">ورود</a></button>

                        <%}%>
                </div>
                
            </div>
        </nav>

        <div class="text-box">
            <h1>اموزش جامع برنامه نویسی</h1>
            <form class="search-form">
                <input type="search" value="" placeholder="دوره مورد نظر خود را جستجو کنید..." class="search-input">
                <button type="submit" class="search-button">
                    <i class="fa fa-search"></i>
                </button>
              </form>
            <a href="">vist us</a>
        </div>
    </header>



<!-- 
<section class="main-header">
    <div class="logo">
        <a href="/">
            <img src="images/logo1.png" alt="">
        </a>
    </div>
    <div class="search-box">
        <form>
            <input type="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <nav>

        <ul>
            <li>
                <a href="">درباره ما</a>
            </li>
            <li>
                <a href=""> تماس با ما </a>
            </li>
            <li>
                <a href=""> دوره ها </a>
            </li>
            <li>
                <a href="">صفحه اصلی </a>
            </li>
        </ul>
    </nav>

</section> -->