<div class="overlay">
  <!-- LOGN IN FORM by Omar Dsoky -->
  <form method="post" action="/users/login">
     <!--   con = Container  for items in the form-->
     <div class="con">
     <!--     Start  header Content  -->
     <header class="head-form">
        <h2> خوش امدید </h2><br>
        <!--     A welcome message or an explanation of the login form -->
        <p>   اگر هنوز ثبت نام نکرده اید<a href="/users/register">اینجا</a> کلیک کنید </p>
     </header>
     <!--     End  header Content  -->
     <br>
     <div class="field-set">
       
        <!--   user name -->
           <span class="input-item">
             <i class="fa fa-user-circle"></i>
           </span>
          <!--   user name Input-->
           <input class="form-input" id="txt-input" type="text" placeholder="ایمیل" name="email" required>
       
        <br>
          <!--   email -->
          <span class="input-item">
              <i class="fa fa-key"></i>
            </span>
           <!--   user name Input-->
            <input class="form-input" id="txt-input" type="password" name="password" placeholder="بسورد" required>
        
         <br>
         <span class="input-item">
            مرا به خاطر بسبار
          </span>
         <!--   user name Input-->
          <input class="form-input" id="txt-input" type="checkbox" value="rememberme" name="rememberme" >
      
        
       
      
                 
  <!--        buttons -->
  <!--      button LogIn -->
        <button class="log-in"> ورود </button>
     </div>
    
  <!--   other buttons -->
     <div class="other">
  <!--      Forgot Password button-->
        <button class="btn submits frgt-pass"><a href="/users/login">اکانت کاربری دارم</a></button>
  <!--     Sign Up button -->
        <button class="btn submits sign-up"> ورود
  <!--         Sign Up font icon -->
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
  <!--      End Other the Division -->
     </div>
       
  <!--   End Conrainer  -->
    </div>
    
    <!-- End Form -->
  </form>
  </div>