<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form method="post" action="/users/register">
       <!--   con = Container  for items in the form-->
       <div class="con">
       <!--     Start  header Content  -->
       <header class="head-form">
          <h2>ثبت نام</h2><br>
          <!--     A welcome message or an explanation of the login form -->
          <p>جهت ثبت نام فرم زیر را تکمیل بفرمایید</p>
       </header>
       <!--     End  header Content  -->
       <br>
       <div class="field-set">
         
          <!--   user name -->
             <span class="input-item">
               <i class="fa fa-user-circle"></i>
             </span>
            <!--   user name Input-->
             <input class="form-input" id="txt-input" type="text" placeholder="نام کاربری" required name="username">
         
          <br>
            <!--   email -->
            <span class="input-item">
                <i class="fa fa-envelope"></i>
              </span>

              <input class="form-input" id="txt-input" type="text" placeholder="ایمیل" required name="email">
          
           <br>
               <!--   phone -->
               <span class="input-item">
                  <i class="fa fa-phone"></i>
                </span>
               <!--   phone Input-->
                <input class="form-input" id="txt-input" type="number" placeholder="شماره همراه" required name="mobile">
            
             <br>
            
          
         
               <!--   Password -->
         
          <span class="input-item">
            <i class="fa fa-key"></i>
           </span>
          <!--   Password Input-->
          <input class="form-input" type="password" placeholder="رمز عبور" id="pwd"  name="password" required>
         
           
         
          <br>
                <!--   Password -->
         
                <span class="input-item">
                    <i class="fa fa-key"></i>
                   </span>
                  <!--   Password Input-->
                  <input class="form-input" type="password" placeholder="تکرار رمز عبور"   name="confirmPassword" required>
                  <br>       
                   
    <!--        buttons -->
    <!--      button LogIn -->
          <button class="log-in"> ثبت نام </button>
       </div>
      
   
    <!--   End Conrainer  -->
      </div>
      
      <!-- End Form -->
    </form>
    </div>